body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.social-nav li{
    list-style: none;
    margin: 0 4px;
    display: inline-block;  
}

.social-nav.social-nav-footer{
    text-align: center;
}

*.icon{
    color: #033c73;
}

.contact-nav{
    list-style: none;
    padding: 0 2px;
    color: #193980;
    text-align: center;
}

.contact-nav li{
    display: inline-block;
    margin: 0 4px;
}

.pfooter{
    padding-top: 5px;
    text-align: center;
    color: #193980;
}
.search-button{
    padding-left: 120px;
}