@{
    ViewBag.Title = "About UCOL";
}
<h2>@ViewBag.Title.</h2>
<p>
    Established in 1902, UCOL is a high-performing New Zealand government funded Institute of Technology and Polytechnic that offers a wide range of rewarding study options.<br /><br />

    Study with us to learn valuable skills and make a difference in your life. We have dedicated student support staff to help you thrive and grow, and you'll benefit from our relationships-based approach to learning.<br /><br />

    UCOL is well known in its local communities and also draws students from far and wide. We have campuses in Palmerston North, Whanganui, Wairarapa and Auckland.<br /><br />

    We exist to inspire students, businesses and communities to succeed.
</p>
