@{
    ViewBag.Title = "Contact";
}
<h2>General Contact Information</h2>

<address>
    Free Phone:  0800 GO UCOL (0800 468 265)<br /><br />

    International Phone:  +64 6 952 7000<br /><br />

    Fax:  06 -952 7023<br /><br />

    Email:  enquiry@ucol.ac.nz
</address>
